.ipynb_checkpoints/
.vscode/
__pycache__/
env/
data/MNIST
data/Pokemon/*
data/TinyHero/*
data/Pokemon-Sugimori/*
!data/Pokemon/original_data.zip
!data/TinyHero/original.zip
!data/Pokemon-Sugimori/source.txt
outputs/
fusions/
*.npy
*.pkl