.ipynb_checkpoints/
.vscode/
__pycache__/
env/

# Messy thing to keep our data in the repo
data/*
!data/Pokemon
data/Pokemon/*
!data/Pokemon/original_data.zip
!data/Pokemon/metadata.joblib

!scripts/data/
outputs/
fusions/
*.npy
*.pkl